# 🚀 PRODUCTION DB (Supabase Working IPv4 Pooler)
DATABASE_URL="postgresql://postgres.nsmcljyaklgytvzwwmtr:d8hxA4WbiOgkxE1P@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.nsmcljyaklgytvzwwmtr:d8hxA4WbiOgkxE1P@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

# 💻 LOCAL DB (Docker)
# DATABASE_URL="postgresql://postgres:postgres@localhost:5435/cv_online?schema=public"
# DIRECT_URL="postgresql://postgres:postgres@localhost:5435/cv_online?schema=public"

NEXTAUTH_SECRET="local-development-secret-change-before-production"
NEXTAUTH_URL="https://resumedot.site"
NEXT_PUBLIC_SITE_URL="https://resumedot.site"
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-WMRCMNQWDH"
